---
const values = [
  [
    {
      ref: '01',
      name: 'Física para Conectar, Aprender y Crear',
      description:
              'Fomentar el estudio, la discusión y la divulgación de la Física dentro de la comunidad universitaria, incentivando el intercambio de ideas, la participación en proyectos colaborativos y la creación de redes que impulsen el crecimiento académico y científico de los estudiantes.',
    },
    {
      ref: '02',
      name: 'Formación integral',
      description:
        'Impulsar el aprendizaje activo mediante actividades académicas, seminarios, talleres y encuentros científicos que conecten la teoría con la práctica.',
    },
  ],
  [
    {
      ref: '03',
      name: 'Investigación y desarrollo:',
      description:
        'Facilitar el acceso a recursos, herramientas y oportunidades para la investigación, innovación y divulgación científica.',
    },
    {
      ref: '04',
      name: 'Colaboración interdisciplinaria:',
      description:
        'Promover la interacción entre estudiantes, académicos y profesionales del área, generando sinergias que fortalezcan el trabajo en Física y sus aplicaciones.',
    },
  ],
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="flex flex-col gap-8 lg:gap-12">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl">Objetivos generales y especificos</h2>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          values.map((column, index) => (
            <div class:list={['space-y-8', index === 1 && 'lg:mt-16']}>
              {column.map((value) => (
                <div class="bg-primary-500/10 dark:bg-primary-400/10 flex flex-col gap-12 rounded-3xl px-6 py-8">
                  <p class="text-sm">{value.ref}</p>
                  <div class="flex flex-col gap-4">
                    <h3 class="text-xl font-medium">{value.name}</h3>
                    <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
                      {value.description}
                    </p>
                  </div>
                </div>
              ))}
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>