---
import MagazineCard from "./MagazineCard.astro";
import { magazines } from "../../data/magazines";
---

<section class="pb-16 sm:pb-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="flex flex-wrap justify-center gap-6 sm:gap-8">
            {
                magazines.map((mag) => (
                    <div class="w-full max-w-sm">
                        <MagazineCard
                            slug={mag.slug}
                            title={mag.title}
                            description={mag.description}
                            coverImage={mag.coverImage}
                        />
                    </div>
                ))
            }
        </div>
    </div>
</section>
